.full-width {
    width: 100%;
    height: 40px;
    transition: none;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
}

.final-pay-bill-container {
    max-width: 400px;
    height: auto;
    margin: auto;
    margin-top: 5rem;
    box-shadow: 5px 5px 18px 5px var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    margin-bottom: 5rem;
    gap: 2rem;
}

.pay-bill-header {
    text-align: center;
    font-weight: bold;
}

.pay-info {
    display: flex;
    justify-content: space-between;
}

.total-price-label {
    max-width: 350px;
    flex-basis: 140px;

}

.border-bottom {
    border-bottom: 1px solid var(--primary);

}

.bold {
    font-weight: bold;
}

.total-qty {
    min-width: 100px;
    text-align: center;

}

.total-price {
    text-align: right;

}

.cart-container {
    display: flex;
}

.btn-increment-decrement {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.container4 {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.secondary-color-button2 {
    background-color: white;
    color: var(--primary-color);
}