*{
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

:root{
    --blue: #0070d2;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: rgb(190, 10, 10);
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #008827;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #FFFFFF; 
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #cf0a2c;
    --success: #008827;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #cf0a2c;
    --light: #f8f9fa;
    --dark: #343a40;
    --secondary: #EDEDED;
}

::-webkit-scrollbar{
    width: 10px;
   }
   
   ::-webkit-scrollbar-track{
    border-radius: 5px;
   }
   
   ::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 5px;
   }

a:hover{
    color: var(--primary);
}



.header-container{
    display: flex;
    width: 80%; 
    margin: auto;
    margin-top: 7rem;
    gap: 2rem;
    padding: 2rem;
    font-size: 1rem; 
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    gap: 20px;
}

.heading{
    font-size: 2.2rem; 
    width: 60%; 
}

.header-description{
    width: 80%;
}

.shop-now-btn{
    width: 20%;
    padding: 14px;
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
    cursor: pointer;
}

.shop-now-btn:hover{
    background-color: var(--red);
}


.nav-container{
    border-bottom: 2px solid var(--primary);
    height: auto; 
    display: flex; 
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 10rem;  
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.nav-btn-container{
    display: flex;
    gap: 2rem; 
}

.nav-logo{
    color: var(--primary);
    font-weight: bold;  
} 

.nav-input{
    width: 20rem;
    padding: 7px;
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    outline: none;
}

.input-container{
    position: relative;
}

.search-btn{
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.log-in-container{
    position: relative;
    padding: 1rem;    
}

.log-in{
    position: absolute;
    font-size: 0.7rem;
    bottom: 0;
    right: 10px;
}

.number-badge{
    top: 10px;
    position: absolute;
    right: 8px;
    border-radius: 50%; 
    border: 2px solid var(--primary);
    background-color: var(--primary);
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: var(--secondary);
}

.wish-list-container{
    position: relative;
    padding: 1rem;
}

.wish-list{
    position: absolute;
    font-size: 0.7rem;
    bottom: 0;
    right: 2px;
}

.cart-container{
    position: relative;
    padding: 1rem;
}

.cart{
    position: absolute;
    font-size: 0.7rem;
    bottom: 0;
    right: 12px;
}

.product-type-titles{
    margin: 0 auto 80px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
    height: 3.5rem;
}

.product-type-titles::after{
    content: '';
    background-color: var(--primary);
    width: 120px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%; 
    margin: auto;
    gap: 2rem; 
    justify-content: space-around;
    margin-bottom: 5rem;
    cursor: pointer;
}

.product-card{
    width: 300px;
    transition: transform 0.3s;  
}

.product-card:hover{
    transform: translateY(-10px);
}

.card-img{
    object-fit: contain;   
    width: 100%;
    height: 70%;
    background-color: var(--secondary);
}

.selected-star{
    color: var(--primary);
}

.exclusive-product-container{
    display: flex;
    width: 100%; 
    height: 25rem;
    margin: auto;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
    background: rgb(237,237,237);
background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(207,10,44,1) 100%);
}

.exclusive-product-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.exclusive-product-heading{
    font-size: 3rem;  
}

.exclusive-product-info{
    width: 80%;
}

.exclusive-product-img{
    width: 20%;
}

.shop-now-secondary-btn{
    width: 20%;
    padding: 14px;
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
    cursor: pointer;
}

.shop-now-secondary-btn:hover{
    background-color: var(--secondary);
    color: var(--primary);
    transition: 0.4s;
}

.testimonials-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    justify-content: center;
    margin-bottom: 5rem;
    cursor: pointer;
}

.testimonial-card{
    width: 400px;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.testimonial-card:hover{
    transform: translateY(-10px);
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.ratings{
    display: flex;
}

.testimonial-quote{
    font-size: 34px;
}

.logo-container{
    display: flex;
    height: 20rem;
    margin: auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

}

.logo-img{
    width: 250px;
    height: 6rem;
    object-fit: contain;
    cursor: pointer;
    transition: 0.5s;

}

.logo-img:hover{
    transform: translateY(-10px);

}

.footer{
    display: flex;
    gap: 7rem;
    line-height: 2rem;
    justify-content: center;
    padding: 3rem;
}

.about-us-section{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;
}

.our-logo{
    color: var(--primary);
    font-weight: bold;
    font-size: 1.5rem;    
}

.subFooterContainer{
    display: flex;
    gap: 2rem;
}

.footerPills{
    font-size: 1.2rem; 
    cursor: pointer;
}

.footerPills:hover{
    color: var(--primary);  
}