*{
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

:root{
    --blue: #0070d2;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: rgb(190, 10, 10);
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #008827;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #FFFFFF; 
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #cf0a2c;
    --success: #008827;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #cf0a2c;
    --light: #f8f9fa;
    --dark: #343a40;
    --secondary: #EDEDED;
}

::-webkit-scrollbar{
    width: 10px;
   }
   
   ::-webkit-scrollbar-track{
    border-radius: 5px;
   }
   
   ::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 5px;
   }

a:hover{
    color: var(--primary);
}



